// Navigations
///////////////////////////////////////////////////////////

// Core
// --------------------------------------------------------
.nav {
  list-style-type: none;
  margin-bottom: @baseLineHeight;
  margin-left: 0;
}

.nav {
  > li {
    > a {
      display: block;
    }
  }

  > .pull-right {
    float: right;
  }
}


// Horizontal
// --------------------------------------------------------
.nav-horizontal {
  .clearfix();

  > li {
    float: left;
    padding-right: 12px;
  }
}


// Tabs and Pills
// --------------------------------------------------------
.nav-tabs,
.nav-pills {
  .clearfix();

  > li {
    float: left;

    > a {
      line-height: @baseFontSize;
      margin-right: 4px;
      padding-left: 12px;
      padding-right: 12px;

      &:hover,
      &:focus {
        background: @grayLightest;
        text-decoration: none;
      }
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid @grayLighter;

  > li {
    margin-bottom: -1px;

    > a {
      .border-radius(@baseBorderRadius @baseBorderRadius 0 0);

      border: 1px solid transparent;
      line-height: @baseLineHeight;
      padding-bottom: 8px;
      padding-top: 8px;

      &:hover,
      &:focus {
        border-color: @grayLightest @grayLightest @grayLighter;
      }
    }
  }

  > .active {
    > a {
      &,
      &:hover,
      &:focus {
        background-color: @bodyBackground;
        border: 1px solid @grayLighter;
        border-bottom-color: transparent;
        color: @gray;
        cursor: default;
      }
    }
  }
}

.nav-pills {
  > li {
    > a {
      .border-radius(@baseBorderRadius);

      margin-bottom: 4px;
      margin-top: 4px;
      padding-bottom: 8px;
      padding-top: 8px;
    }
  }

  > .active {
    > a {
      &,
      &:hover,
      &:focus {
        background-color: @hyperlinkTextColor;
        color: @white;
      }
    }
  }
}


// Stacked
// --------------------------------------------------------
.nav-stacked {
  > li {
    float: none;

    > a {
      margin-right: 0;
    }
  }

  &.nav-tabs {
    border-bottom: none;

    > li {
      > a {
        .border-radius(0);

        border: 1px solid @grayLighter;

        &:hover,
        &:focus {
          border-color: @grayLighter;
        }
      }

      &:first-child {
        > a {
          .border-top-radius(@baseBorderRadius);
        }
      }

      &:last-child {
        > a {
          .border-bottom-radius(@baseBorderRadius);
        }
      }
    }
  }
}


// Disabled
// --------------------------------------------------------
.nav {
  > .disabled {
    > a {
      color: @grayLight;

      &:hover,
      &:focus {
        background-color: transparent;
        cursor: default;
        text-decoration: none;
      }
    }
  }
}